#-----------------------------------------------------------
# Mac BS

*.DS_Store

#-----------------------------------------------------------
# LaTeX Stuff

*.aux
*.dvi
*.log
*.ps
*.fls
*.fdb_latexmk
*.pdf
*.toc
*.out
*.synctex.gz
*.txss
*.png
*.eps
*.svg

#-----------------------------------------------------------
# Project

dist*/
!assets/*.pdf
!assets/**/*.png

#-----------------------------------------------------------